In [1]:
import sys
!{sys.executable} -m pip install lxml
from bs4 import BeautifulSoup
import pandas as pd
import requests
import numpy as np
from datetime import datetime
import re

Requirement already satisfied: lxml in /opt/conda/lib/python3.8/site-packages (4.5.2)

In [2]:
headers = {'user-agent':'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/85.0.4183.121 Safari/537.36'}
res = requests.get("https://www.spaceweatherlive.com/en/solar-activity/top-50-solar-flares",headers = headers)
soup = BeautifulSoup(res.text)
table = soup.find('table', attrs = {'class' : 'table table-striped table-responsive-md'})
df= pd.read_html(str(table))
df = pd.DataFrame(df[0])
df.columns = ['rank', 'x_class', 'date', 'region', 'start_time', 'max_time', 'end_time', 'movie']
df = df.drop(columns = ['movie'])
for index, row in df.iterrows():
    start = str(row['date']) + " "+ str(row['start_time'])
    end = str(row['date']) + " " + str(row['end_time'])
    maxs = str(row['date']) + " " + str(row['max_time'])
    df.loc[index, 'start_time'] = datetime.strptime(start,"%Y/%m/%d %H:%M")
    df.loc[index, 'end_time'] = datetime.strptime(end,"%Y/%m/%d %H:%M")
    df.loc[index, 'max_time'] = datetime.strptime(maxs,"%Y/%m/%d %H:%M")
df=df.drop(columns = ['date'])
print(df)

    rank x_class  region           start_time             max_time  \
0      1    X28+     486  2003-11-04 19:29:00  2003-11-04 19:53:00
1      2    X20+    9393  2001-04-02 21:32:00  2001-04-02 21:51:00
2      3  X17.2+     486  2003-10-28 09:51:00  2003-10-28 11:10:00
3      4    X17+     808  2005-09-07 17:17:00  2005-09-07 17:40:00
4      5   X14.4    9415  2001-04-15 13:19:00  2001-04-15 13:50:00
5      6     X10     486  2003-10-29 20:37:00  2003-10-29 20:49:00
6      7    X9.4    8100  1997-11-06 11:49:00  1997-11-06 11:55:00
7      8    X9.3    2673  2017-09-06 11:53:00  2017-09-06 12:02:00
8      9      X9     930  2006-12-05 10:18:00  2006-12-05 10:35:00
9     10    X8.3     486  2003-11-02 17:03:00  2003-11-02 17:25:00
10    11    X8.2    2673  2017-09-10 15:35:00  2017-09-10 16:06:00
11    12    X7.1     720  2005-01-20 06:36:00  2005-01-20 07:01:00
12    13    X6.9    1263  2011-08-09 07:48:00  2011-08-09 08:05:00
13    14    X6.5     930  2006-12-06 18:29:00  2006-12-06 18:47:00
14    15    X6.2     808  2005-09-09 19:13:00  2005-09-09 20:04:00
15    16    X6.2    9733  2001-12-13 14:20:00  2001-12-13 14:30:00
16    17    X5.7    9077  2000-07-14 10:03:00  2000-07-14 10:24:00
17    18    X5.6    9415  2001-04-06 19:10:00  2001-04-06 19:21:00
18    19    X5.4    1429  2012-03-07 00:02:00  2012-03-07 00:24:00
19    20    X5.4     808  2005-09-08 20:52:00  2005-09-08 21:06:00
20    21    X5.4     486  2003-10-23 08:19:00  2003-10-23 08:35:00
21    22    X5.3    9591  2001-08-25 16:23:00  2001-08-25 16:45:00
22    23    X4.9    1990  2014-02-25 00:39:00  2014-02-25 00:49:00
23    24    X4.9    8307  1998-08-18 22:10:00  1998-08-18 22:19:00
24    25    X4.8      39  2002-07-23 00:18:00  2002-07-23 00:35:00
25    26      X4    9236  2000-11-26 16:34:00  2000-11-26 16:48:00
26    27    X3.9     488  2003-11-03 09:43:00  2003-11-03 09:55:00
27    28    X3.9    8307  1998-08-19 21:35:00  1998-08-19 21:45:00
28    29    X3.8     720  2005-01-17 06:59:00  2005-01-17 09:52:00
29    30    X3.7    8384  1998-11-22 06:30:00  1998-11-22 06:42:00
30    31    X3.6     808  2005-09-09 09:42:00  2005-09-09 09:59:00
31    32    X3.6     649  2004-07-16 13:49:00  2004-07-16 13:55:00
32    33    X3.6     365  2003-05-28 00:17:00  2003-05-28 00:27:00
33    34    X3.4     930  2006-12-13 02:14:00  2006-12-13 02:40:00
34    35    X3.4    9767  2001-12-28 20:02:00  2001-12-28 20:45:00
35    36    X3.3    1890  2013-11-05 22:07:00  2013-11-05 22:12:00
36    37    X3.3      39  2002-07-20 21:04:00  2002-07-20 21:30:00
37    38    X3.3    8395  1998-11-28 04:54:00  1998-11-28 05:52:00
38    39    X3.2    1748  2013-05-14 00:00:00  2013-05-14 01:11:00
39    40    X3.1    2192  2014-10-24 21:07:00  2014-10-24 21:41:00
40    41    X3.1      69  2002-08-24 00:49:00  2002-08-24 01:12:00
41    42      X3      30  2002-07-15 19:59:00  2002-07-15 20:08:00
42    43    X2.8    1748  2013-05-13 15:48:00  2013-05-13 16:05:00
43    44    X2.8    9733  2001-12-11 07:58:00  2001-12-11 08:08:00
44    45    X2.8    8307  1998-08-18 08:14:00  1998-08-18 08:24:00
45    46    X2.7    2339  2015-05-05 22:05:00  2015-05-05 22:11:00
46    47    X2.7     488  2003-11-03 01:09:00  2003-11-03 01:30:00
47    48    X2.7    8210  1998-05-06 07:58:00  1998-05-06 08:09:00
48    49    X2.6     720  2005-01-15 22:25:00  2005-01-15 23:02:00
49    50    X2.6    9632  2001-09-24 09:32:00  2001-09-24 10:38:00

               end_time
0   2003-11-04 20:06:00
1   2001-04-02 22:03:00
2   2003-10-28 11:24:00
3   2005-09-07 18:03:00
4   2001-04-15 13:55:00
5   2003-10-29 21:01:00
6   1997-11-06 12:01:00
7   2017-09-06 12:10:00
8   2006-12-05 10:45:00
9   2003-11-02 17:39:00
10  2017-09-10 16:31:00
11  2005-01-20 07:26:00
12  2011-08-09 08:08:00
13  2006-12-06 19:00:00
14  2005-09-09 20:36:00
15  2001-12-13 14:35:00
16  2000-07-14 10:43:00
17  2001-04-06 19:31:00
18  2012-03-07 00:40:00
19  2005-09-08 21:17:00
20  2003-10-23 08:49:00
21  2001-08-25 17:04:00
22  2014-02-25 01:03:00
23  1998-08-18 22:28:00
24  2002-07-23 00:47:00
25  2000-11-26 16:56:00
26  2003-11-03 10:19:00
27  1998-08-19 21:50:00
28  2005-01-17 10:07:00
29  1998-11-22 06:49:00
30  2005-09-09 10:08:00
31  2004-07-16 14:01:00
32  2003-05-28 00:39:00
33  2006-12-13 02:57:00
34  2001-12-28 21:32:00
35  2013-11-05 22:15:00
36  2002-07-20 21:54:00
37  1998-11-28 06:13:00
38  2013-05-14 01:20:00
39  2014-10-24 22:13:00
40  2002-08-24 01:31:00
41  2002-07-15 20:14:00
42  2013-05-13 16:16:00
43  2001-12-11 08:14:00
44  1998-08-18 08:32:00
45  2015-05-05 22:15:00
46  2003-11-03 01:45:00
47  1998-05-06 08:20:00
48  2005-01-15 23:31:00
49  2001-09-24 11:09:00

In [3]:
headers = {'user-agent':'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/85.0.4183.121 Safari/537.36'}
res = requests.get("https://cdaw.gsfc.nasa.gov/CME_list/radio/waves_type2.html",headers = headers)
soup = BeautifulSoup(res.text)
table = soup.find('pre').prettify()
matches = re.findall(r'\d{4}/\d{2}/\d{2} \d{2}:\d{2}.+PHTX<',table)
table = []
for x in matches:
    date = re.match(r'\d{4}/\d{2}/\d{2} \d{2}:\d{2} \d{2}/\d{2} \d{2}:\d{2} (\d+\s{4}\d+\s{4}\w{6}\s+\d{4,5})*',x)
    rest = re.findall(r'>([^>]*)<',x)
    comp_str = date[0]
    
    for y in rest:
        try:
            comp_str = comp_str + " " +y
        except IndexError:
            pass
    table.append(comp_str.split())
df2 = pd.DataFrame(columns = ['start_date','start_time','end_date','end_time','start_fz','end_fz','flare_loc','flare_region','flare_class','cme_date','cme_time','CPA','cme_width','cme_speed','plot'], data = table)
df2 = df2.replace('-----',value = np.nan)
df2 = df2.replace('--:--',value = np.nan)
df2 = df2.replace('--/--',value = np.nan)
df2 = df2.replace('----',value = np.nan)
df2 = df2.replace('????',value = np.nan)
df2['is_halo'] = False
df2['has_lower_bound'] = False
halos = df2['CPA'].str.find('Halo')
bounds = df2['cme_width'].str.find('&gt;')
for x in range(0,len(halos)):
    if halos[x] == 0:
        df2.loc[[x],['is_halo']] = True
    if bounds[x] == 0:
        df2.loc[[x],['has_lower_bound']] = True
        
df2 = df2.replace('&gt;\d+',regex = True, value = np.nan)
df2 = df2.replace('Halo',value = np.nan)  
df2 = df2.replace('None', value = np.nan)

for index, row in df2.iterrows():
    year = str(row['start_date'])[:4] +"/"
    start = str(row['start_date']) + " "+ str(row['start_time'])
    end = year + str(row['end_date']) + " " + str(row['end_time'])
    maxs = year + str(row['cme_date']) + " " + str(row['cme_time'])
    
    if re.search('24:00',start) or re.search('nan',start):
        start = start.replace('24:00','00:00')
    if re.search('24:00',end) or re.search('nan',end):
        end = end.replace('24:00','00:00')
    if re.search('24:00',maxs) or re.search('nan',maxs):
        maxs = maxs.replace('24:00','00:00')
    
    if re.search('nan',start) or re.search('None',start):
        df2.loc[index, 'start_datetime'] = np.nan
    else:
        df2.loc[index, 'start_datetime'] = datetime.strptime(start,"%Y/%m/%d %H:%M")
    if re.search('nan',end) or re.search('None',end):
        df2.loc[index, 'end_datetime'] = np.nan
    else:
        df2.loc[index, 'end_datetime'] = datetime.strptime(end,"%Y/%m/%d %H:%M")
    if re.search('nan',maxs) or re.search('None',maxs):
        df2.loc[index, 'cme_datetime'] = np.nan
    else:
        df2.loc[index, 'cme_datetime'] = datetime.strptime(maxs,"%Y/%m/%d %H:%M")
df2 = df2.drop(columns = ['start_date','start_time','end_date','end_time','cme_date','cme_time'])
print(df2)
df2.to_csv('data.csv')

    start_fz end_fz flare_loc flare_region flare_class  CPA cme_width  \
0       8000   4000    S25E16         8026        M1.3   74        79
1      11000   1000    S28E19         8027        C6.8  NaN       360
2      12000     80    N21W08         8038        C1.3  NaN       360
3       5000    500    N05W12         8040        M1.3  263       165
4       6000   2000    S29E25         8088        C1.4  133       155
..       ...    ...       ...          ...         ...  ...       ...
513    14000    210    S10W12        12673        M5.5  NaN       360
514    16000     70    S08W33        12673        X9.3  NaN       360
515    16000    150    S09W92          NaN        X8.3  NaN       360
516    16000  13000    N08E48        12680        C3.0  124        96
517    16000    900   S08E170          NaN         NaN  NaN       360

    cme_speed  plot  is_halo  has_lower_bound      start_datetime  \
0         312  PHTX    False            False 1997-04-01 14:00:00
1         878  PHTX     True            False 1997-04-07 14:30:00
2         464  PHTX     True            False 1997-05-12 05:15:00
3         296  PHTX    False            False 1997-05-21 20:20:00
4         712  PHTX    False            False 1997-09-23 21:53:00
..        ...   ...      ...              ...                 ...
513      1418  PHTX     True            False 2017-09-04 20:27:00
514      1571  PHTX     True            False 2017-09-06 12:05:00
515      3163  PHTX     True            False 2017-09-10 16:02:00
516       252  PHTX    False            False 2017-09-12 07:38:00
517      1385  PHTX     True            False 2017-09-17 11:45:00

           end_datetime        cme_datetime
0   1997-04-01 14:15:00 1997-04-01 15:18:00
1   1997-04-07 17:30:00 1997-04-07 14:27:00
2   1997-05-14 16:00:00 1997-05-12 05:30:00
3   1997-05-21 22:00:00 1997-05-21 21:00:00
4   1997-09-23 22:16:00 1997-09-23 22:02:00
..                  ...                 ...
513 2017-09-05 04:54:00 2017-09-04 20:12:00
514 2017-09-07 08:00:00 2017-09-06 12:24:00
515 2017-09-11 06:50:00 2017-09-10 16:00:00
516 2017-09-12 07:43:00 2017-09-12 08:03:00
517 2017-09-17 12:35:00 2017-09-17 12:00:00

[518 rows x 14 columns]

Question 2:

In [7]:
top =pd.to_datetime(df['start_time'])
df2['rank'] = -1
df2['start_datetime'] = pd.to_datetime(df2['start_datetime'])
for x in range(0,len(top)):
    print(top[x].date())
    for y in range(0,len(df2['start_datetime'])):
        if df2.loc[[y],['start_datetime']] == int(x.date()):
            df2.loc[[y],['rank']] = x

2003-11-04

AttributeError: 'DataFrame' object has no attribute 'date'